In [7]:
import pandas as pd
from datetime import datetime as dt

In [8]:
df = pd.read_csv('practice.csv')
df = df.head(5)
df

,Unnamed: 0,Botanist_Name,Botanist_Email,Botanist_Phone,Last_Watered,Plant_Name,Scientific_Name,Recording_Time,Cycle,Temperature,Soil_Moisture,Sunlight,Humidity
0,0,Gertrude Jekyll,gertrude.jekyll@lnhm.co.uk,001-481-273-3691x127,2023-08-30 13:54:32,Venus flytrap,NaN,2023-08-30 14:56:09,NaN,12.070483,96.361146,NaN,NaN
1,1,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-30 14:10:54,Corpse flower,NaN,2023-08-30 14:56:10,NaN,9.233595,97.528507,NaN,NaN
2,2,Eliza Andrews,eliza.andrews@lnhm.co.uk,(846)669-6651x75948,2023-08-30 14:50:16,Rafflesia arnoldii,NaN,2023-08-30 14:56:11,NaN,10.078661,99.658927,NaN,NaN
3,3,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-30 13:16:25,Black bat flower,NaN,2023-08-30 14:56:12,NaN,11.376321,94.047919,NaN,NaN
4,4,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-29 14:56:18,Pitcher plant,Sarracenia catesbaei,2023-08-30 14:56:14,Herbaceous Perennial,11.258375,18.262940,full sun,NaN

In [12]:
data = dt.strptime('Wed, 30 Feb 2023 13:54:32 GMT', '%a, %d %b %Y %H:%M:%S %Z')
date

ValueError: day is out of range for month

In [9]:
def check_temperature_within_correct_ranges(temperature: float) -> float| str:
    if temperature < 3:
        return 'Invalid'
    elif temperature > 45:
        return 'Invalid'
    else:
        return temperature

In [10]:
df['Temperature'] = df['Temperature'].apply(
        lambda x: check_temperature_within_correct_ranges(x))
df

,Unnamed: 0,Botanist_Name,Botanist_Email,Botanist_Phone,Last_Watered,Plant_Name,Scientific_Name,Recording_Time,Cycle,Temperature,Soil_Moisture,Sunlight,Humidity
0,0,Gertrude Jekyll,gertrude.jekyll@lnhm.co.uk,001-481-273-3691x127,2023-08-30 13:54:32,Venus flytrap,NaN,2023-08-30 14:56:09,NaN,12.070483,96.361146,NaN,NaN
1,1,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-30 14:10:54,Corpse flower,NaN,2023-08-30 14:56:10,NaN,9.233595,97.528507,NaN,NaN
2,2,Eliza Andrews,eliza.andrews@lnhm.co.uk,(846)669-6651x75948,2023-08-30 14:50:16,Rafflesia arnoldii,NaN,2023-08-30 14:56:11,NaN,10.078661,99.658927,NaN,NaN
3,3,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-30 13:16:25,Black bat flower,NaN,2023-08-30 14:56:12,NaN,11.376321,94.047919,NaN,NaN
4,4,Carl Linnaeus,carl.linnaeus@lnhm.co.uk,(146)994-1635x35992,2023-08-29 14:56:18,Pitcher plant,Sarracenia catesbaei,2023-08-30 14:56:14,Herbaceous Perennial,11.258375,18.262940,full sun,NaN